.contenido__output__texto{
	background: transparent;
	border: none;
	color: #0A3871;
	font-size: 24px;
	height: 300px;
	line-height: 36px;
	resize: none;
	width: 100%;
}

.contenido__output__texto:focus{
	outline: none;
}

@media (min-width: 768px){
	.contenido__output__texto{
		height: 75%;
	}
}