.contenido__output__conTexto{
	align-items: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
	width: 100%;
}

@media (min-width: 768px){
    .contenido__output__conTexto{
        height: 100%;
    }
}