.contenido__input{
	background: transparent;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-start;
    width: 100%;
}

@media (min-width: 768px){
    .contenido__input{
        height: 100%;
        width: 60%;
    }
}